# ======================
# GLOBAL
# ======================
node_modules/
.env
*.log

# ======================
# BACKEND
# ======================
Backend/node_modules/
Backend/.env
Backend/uploads/profile/*
!Backend/uploads/profile/.gitkeep

# ======================
# FRONTEND
# ======================
Frontend/node_modules/
Frontend/.env
Frontend/.env.*
!Frontend/.env.example
Frontend/dist
Frontend/dist-ssr

# ======================
# EDITOR / OS
# ======================
.vscode/
.idea/
.DS_Store